<div id="addCommentPart" class="w3-container">
    <p><!--call the article/write-up --></p>
    <br>
    <br>
    <!-- <hr> -->
    <br>
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black" id="button1">Write a comment...</button>
  
    <div id="id01" class="w3-modal">
      <div id="id02" class="w3-modal-content">
        <h4>Hi SampleUser! What can you say?</h4><!-- Sample user must be the part where we get the username -->
        
        <div id="id03" class="w3-container">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          <form [formGroup]="commentForm" (ngSubmit)="addComment()">
            <input id="my-comment" type="text" ng-model= "comments" class="addCommentArea" placeholder="Write a comment..." formControlName="mycomment">
            <br>
            <button id="button02" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
</div>